<div class="row">

<h4 class="center">Upcoming Art Exhibition</h4>

<img class="responsive-img" src="https://picsum.photos/1300/300">
<div class="center">
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nihil suscipit odio molestias aliquid est ab expedita! Corporis deserunt autem, magnam voluptatem esse iusto magni asperiores a natus iure tempore?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nostrum iste recusandae aspernatur commodi assumenda magni aperiam sunt doloribus. Earum harum nesciunt minima quibusdam mollitia impedit quam, reiciendis natus cupiditate?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ratione placeat ex, consequatur quis quo. Porro ut numquam consequatur, autem, aspernatur culpa fugiat tempora soluta maxime, cupiditate eligendi libero voluptates?
    </p>
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem nihil suscipit odio molestias aliquid est ab expedita! Corporis deserunt autem, magnam voluptatem esse iusto magni asperiores a natus iure tempore?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nostrum iste recusandae aspernatur commodi assumenda magni aperiam sunt doloribus. Earum harum nesciunt minima quibusdam mollitia impedit quam, reiciendis natus cupiditate?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ratione placeat ex, consequatur quis quo. Porro ut numquam consequatur, autem, aspernatur culpa fugiat tempora soluta maxime, cupiditate eligendi libero voluptates?
    </p>
</div>

</div>